
/* --------> VARIABLES <-------- */


// Margin 

$main-padding : 30px;


// Colors
$primary-color : #04BDA1;
$secondary-color : #282B7D;
$third-color : #FFA914;
$fourth-color : #B20024;

.primary {
	color : $primary-color;
}

.secondary {
	color : $secondary-color;
}
.third {
	color : $third-color;
}

.fourth {
	color : $fourth-color;
}